<form class="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <textarea type="text"  name="text" [(ngModel)]="text" class="form-control" rows="3" placeholder="Kweet..."></textarea>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
