<div>
  <app-follow (kweet)="refreshKweet()"></app-follow>
  <ul class="list-unstyled">
<app-kweet-item *ngFor="let kweet of kweets" [kweet]="kweet">

</app-kweet-item>
  </ul>
<app-send-kweet (kweet)="refreshKweet()"></app-send-kweet>
</div>
