
<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #266fed;">
  <a class="navbar-brand" href="#">Kwetter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/yourpage']">Yourpage</a>
      </li>


      <!--<li class="nav-item">-->
      <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
      <div *ngIf="!authenticationService.userValue">
        <li><a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </div>
      <div *ngIf="!authenticationService.userValue">
        <li><a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
      </div>
      <div *ngIf="authenticationService.userValue">
        <li>
          <a class="nav-link" [routerLink]="['/logout']">Logout</a>
        </li>
      </div>
    </ul>
  </div>
  </div>
</nav>
