<form class="form" (ngSubmit)="onSubmit()">
  <input type="text" name="text" [(ngModel)]="text" class="form-control" placeholder="follow user...">
  <input type="submit" value="Submit" class="btn btn-primary" >
</form>
